.account-header
{
    padding: 50px 50px;
}

.account-header-container
{
    padding: 0 100px;
}

.account-tabs
{
    padding-left: 50px;
    padding-right: 50px;
}

.account-personal-details
{
    
}