
.request-catering
{
    padding: 30px;
}

.catering-title
{
    padding: 30px 100px;
}

.catering-accordion
{
    padding: 50px 0px;
}

.form-fields
{
    padding: 20px 20px !important;
}

.modal-action
{
    padding: 20px 20px !important;
    float: right !important;
}

.react-datepicker__input-container
{
    width: 100% !important;
}

.react-datepicker-wrapper
{
    width: 100% !important;
}
/* <Button animated fluid type='submit'  loading={isLoading}>
<Button.Content visible>Update</Button.Content>
<Button.Content hidden><Icon name="sign in"/></Button.Content>
</Button> */