.dashboard-sidebar-pushable{
    background-color: whitesmoke !important;
    height: 100% !important;
    max-height: 100%;
}

.dashboard-sidebar{
    /* width: 200px !important; */
}

.show-below-nav {
    position: fixed;
    top: 54px !important;
}

.dashboard-page-header {
    min-height: 45px;
    margin: 0px;
    padding: 0px 15px;
    background: #ffffff;
    border-bottom: 0px;
    width: 100% !important;
}

.dashboard-menu-items {
    color: #ffffff !important;
}

.header-content{
    font-size: 16px !important;
    color: #c59c70 !important;
}

.dash-board-pages {
    /* width: 100vw !important; */
}

.dashboard-menu-page-container{
    background-color: #ffffff !important;
    margin: 15px 15px 15px 15px !important;
    padding: 20px 20px 20px 20px !important;
}

.menu-upload-header{
    margin-bottom: 15px !important;
}

.upload-contents{
    margin: 15px 15px 15px 10px !important;
}

.category-available-upload-div {
    margin-bottom: 15px !important;
}

.toggle-checkbox {
    margin-left: 15px !important;
    margin-top: 15px !important;
}

.dash-table-cell{
    /* width: 150px !important; */
    /* height: 100px !important; */
}

.category-table-add-row {
    width: 130px !important;
}

.edit-image-div {
    background-color: gray;
    width: 180px !important;
    height: 220px !important;
    position: relative !important;
}

.edit-image-button{
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
}

.pagination-component {
    margin-top: 15px !important;
}

.centered-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}