.gallery-card{
    background-position: center !important;
	background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 0% !important;
}
.angle{
    color: #c59c70;
    cursor: pointer;
  }

  .arrow-left{
    position: absolute;
     left: 20vw;
      top: 58vh;
  }
  .arrow_right{
    position: absolute;
    right: 20vw;
     top: 58vh;
  }
  .insta-butt{
      text-align: end !important;
      font-family: cursive !important;
      background: #c5a370 !important;
      opacity: 0.9;
      padding: .3em 1.5em .3em !important;
      border-radius: 0% !important; 
  }
  
  .ui.cards>.card>:first-child {
      border-radius: 0% !important;
  }
  .ui.cards>.card>:last-child{
    border-radius: 0% !important;
  }

  .img_height
  {
      height: 60vh;
      width: 100%;
  }
  
  .font_header{
    font-family: cursive;
    font-size: xx-large;
  }

  .ui.icon.header {
    margin: 2rem 0 2rem;
  }

  .gallery-height{
    height: 300px !important;
  }


@media ( max-width: 480px) {
    .breakpoints-test{
        background: #5999c2!important;
    }

    .img_height
    {
        height: 100vh;
    }
    .arrow_right{
        position: absolute;
        right: 3vw;
         top: 85vh;
      }
      .arrow-left{
        position: absolute;
         left: 3vw;
          top: 85vh;
      }
}

@media (min-width: 481px) and (max-width: 768px) {
    .breakpoints-test{
        background: #77c394 !important;
    }

    .img_height
  {
      height: 100vh;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
    .breakpoints-test{
        background: #df6656 !important;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .breakpoints-test{
        background: #e8d692 !important;
    }
}


@media (min-width: 1201px) {
    .breakpoints-test{
        background: yellow !important;
    }
}
