.mainLayout{}

.mainLayout .childLayout{
    padding-top: 75px;
}

.appNav{
    height: 54px;
}

.appNav .nav-container{
    padding: 0 28px;
}

.fresheats-green-bg{
    background-color: #082908 !important;
}

.fresheats-brown-bg{
    background-color: #c59c70 !important;
}

.fresheats-green-color{
    color: #082908 !important;
}

.fresheats-brown-color{
    color: #c59c70 !important;
}

.fresheats-green-border-color{
    border-color: #082908 !important;
}

.fresheats-brown-border-color{
    border-top: 1px solid rgba(197,156,112) !important;
    border-bottom: 1px solid rgba(197,156,112,.1) !important;
}

.fresheats-green-border-color{
    border-top: 1px solid rgba(8,41,8) !important;
    border-bottom: 1px solid rgba(8,41,8,.1) !important;
}

.fresheats-green-border-color-around{
    border: 1px solid rgba(8,41,8) !important;
}

.fresheats-brown-border-color-around{
    border: 1px solid rgba(197,156,112) !important;
}

/* Semantic UI: Media Queries breakpoints */

@media (min-width: 480px) {
    .breakpoints-test{
        background: #5999c2!important;
    }
}

@media (min-width: 768px) {
    .breakpoints-test{
        background: #77c394 !important;
    }

    .appNav .nav-container{
        padding: 0 14px;
    }
}

@media (min-width: 991px) {
    .breakpoints-test{
        background: #df6656 !important;
    }

    
}

@media (min-width: 1200px) {
    .breakpoints-test{
        background: #e8d692 !important;
    }
}