@import url('https://fonts.googleapis.com/css?family=Raleway:100');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.mainLayout{}

.mainLayout .childLayout{
    padding-top: 75px;
}

.appNav{
    height: 54px;
    background: transparent !important;
}

.appNav .nav-container{
    padding: 0 28px;
}

.fresheats-green-bg{
    background-color: #082908 !important;
}

.fresheats-brown-bg{
    background-color: #c59c70 !important;
}

.fresheats-green-color{
    color: #082908 !important;
}

.fresheats-brown-color{
    color: #c59c70 !important;
}

.fresheats-green-border-color{
    border-color: #082908 !important;
}

.fresheats-brown-border-color{
    border-top: 1px solid rgba(197,156,112) !important;
    border-bottom: 1px solid rgba(197,156,112,.1) !important;
}

.fresheats-green-border-color{
    border-top: 1px solid rgba(8,41,8) !important;
    border-bottom: 1px solid rgba(8,41,8,.1) !important;
}

.fresheats-green-border-color-around{
    border: 1px solid rgba(8,41,8) !important;
}

.fresheats-brown-border-color-around{
    border: 1px solid rgba(197,156,112) !important;
}

/* #region - Index/Home page */

.slider-container{
    background-color: #888;
    position: relative;
    width: 100%;
    height: 75vh;
}

.slider-container .de-slider{
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-container .de-slider div {
    height: 100%;
}

.slider-container .de-slider div .slider-bg{
    width: 100%;
    height: 100%;
    position: relative;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-container .de-slider div .slider-bg .slider-dimmer{
    width: 100%;
    height: 100%;
    position: relative;

    background-color: rgba(0, 0, 0, .25);
}

.slider-container h1, .slider-container h5{
    text-shadow: 3px 3px 8px rgba(0, 0, 0, .5);
}

.slider-container .de-slider .slider-item{
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px 0 50px 0;
}

.slider-container .de-slider .slider-item .quotes{
    float: right;
    width: 50%;
    /* background: rgba(0, 0, 0, .15);
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);; */
    padding: 15px;
    border-radius: 5px;
}

.slider-container .de-slider .slider-item .header{
    text-align: right;
    padding: 0 25px;
}

.slider-container .de-slider .slider-item h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    margin: 0;
}

.slider-container .de-slider .slider-item h5{
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
    font-size: 2em;
    margin: 0;
    color: #fff;
    color: rgb(231, 195, 157);
}

.slider-container .static-caption{
    position: absolute;
    top: 80px;
    
    width: 100%;
}

.slider-container .static-caption .container{
    position: relative;
}

.slider-container .static-caption .header{
    color: rgb(245, 245, 245);
    /* text-align: center; */
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}

.slider-container .static-caption h1{
    font-size: 6em;
    margin-bottom: 0;
}

.slider-container .static-caption h5{
    margin-top: 0;
    font-size: 2.5em;
}

/* #endregion */

/* #region Semantic UI: Media Queries breakpoints */

@media ( max-width: 480px) {
    .breakpoints-test{
        background: #5999c2!important;
    }

    .header-main-div
    {
        height: 590px !important;
        margin-top: 0px !important;
    }

    .index-banner {
        height: 890px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .index-banner-content-title
    {
        font-size: 34px !important;
    }

    .index-steps-row h2
    {
        font-size: 34px !important;
    }
    .col1
    {
        height: 480px !important;
        width: 100% !important;
    }
    .col2
    {
        height: 350px !important;
        width: 100% !important;
    }

    .index-banner-content
    {
        height: 321px !important;
    }
 
    .index-steps
    {
        height: 869px !important
    }
    .slider-container .de-slider .slider-item .quotes{
        width: 100%;
    }

    .slider-container .static-caption h1{
        font-size: 3.5em;
    }
    
    .slider-container .static-caption h5{
        font-size: 1.5em;
    }

    .slider-container .de-slider .slider-item h5{
        font-size: 1.5em;
    }

    .frequently-ordered-section {
        height: 1610px !important;
        width: 100% !important;
    }

    .veritcal-stack
    {
        width: 100% !important;
    }

    .padding-zero
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


}

@media (min-width: 481px) and (max-width: 768px) {
    .breakpoints-test{
        background: #77c394 !important;
    }

    .slider-container .de-slider .slider-item .quotes{
        width: 100%;
    }

    .slider-container .static-caption h1{
        font-size: 4em;
    }
    
    .slider-container .static-caption h5{
        font-size: 2em;
    }
    .veritcal-stack
    {
        width: 100% !important;
    }

    .index-steps
    {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        height:  890px !important
    }

}

@media (min-width: 769px) and (max-width: 991px) {
    .breakpoints-test{
        background: #df6656 !important;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .breakpoints-test{
        background: #e8d692 !important;
    }
}


@media (min-width: 1201px) {
    .breakpoints-test{
        background: yellow !important;
    }
}

/* #endregion */

/* #region Global */
    .align-iterms-center
    {
        text-align: center !important;
    }
    /* .veritcal-stack
    {
        width: 100% !important;
    } */

    .padding-zero
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

/* #endregion */

/* #region Index Header stylying Thato */

    .header-main-div
    {
        margin-top: 50px;
        padding: 60px 0px !important;
        border: 0px !important;
        height: 421px;
        
    }
    .header-container
    {
        height: 301px !important;
        padding: 0px 15px !important;
        border: 0px !important;
    }
    .header-row
    {
        height: 301px !important;
        padding: 0px -15px !important;
        border: 0px !important;
    }
    .header-sub
    {
        font-size: 29px;
        font-family: 'Great Vibes', cursive;
        color: #c59c70;
    }

    .header-row h2
    {
        font-size: 45px;
        font-weight: 400 !important;
        font-family: "Kaushan Script", 'cursive' !important;
    }

    .header-divider
    {
        margin: 20px 0  !important;
        height: 14px !important;
        color: #c59c70 !important;
    }

    .header-desc
    {
        color: #424242;
        font-family: 'Raleway', 'sans-serif';
        font-size: 15px;
    }

    .header-signature
    {
        height: 27px !important;
        margin-top: 30px !important;
    }
    .signImg
    {
        width: 99px !important;
        height: 49px !important;
        
    }
/* #endregion */

/* #region Index Body */

    .index-body
    {
        padding-bottom: 110px; 
    }

    .index-body-main-div
    {
        background-image: url("http://themearth.com/demo/html/restaura/view/assets/img/menu/menu1.jpg");
        height: 642px !important;
        width: 100% !important;
        /* background-repeat: no-repeat; */

    }

    .section-divider2
    {
        padding-top: 297px !important;
        padding-bottom: 275px !important;
        background-repeat: none !important;
        background-position: center !important;
        background-size: cover;
    }

    .bg-parallax
    {
        background-attachment: fixed !important;
    }

    .bg-overlay-dark4:before
    {
        background-color: rgba(27, 26, 26, 0.65) !important;
    }

    .bg-overlay:before {
        content: "" !important;
        display: inline-block !important;
        height: 100% !important;
        left: 0 !important;
        position: absolute !important;
        top: 0 !important;
        width: 100% !important;
        z-index: -1 !important;
    }

    .bg-section
    {
        position: relative !important;
        overflow: hidden !important;
        z-index: 1 !important;
        width: 100% !important;
        height: 100% !important;
    }

    .index-body-container
    {
        height: 85px !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .index-body-row
    {
        height: 85px;
        margin: 0 -15px !important;
        /* background-color: red; */
    }

    .index-body-heading
    {
        padding: 0 15px !important;
    }

    .index-body-desc
    {
        height: 85px;
    }
    
    .index-body-desc p
    {
        color: #c59c70 !important;
        font-size: 35px;
        font-family: 'Great Vibes', cursive;
    }
    /* color: #c59c70; */

    .index-body-desc h2
    {
        font-family: 'Kaushan Script', cursive !important;
        font-size: 45px !important;
        color: #fff !important;
    }

/* #endregion */

/* #region Index Steps */

    .index-steps
    {
        /* height: 432px; */
        width: 100%;
        padding: 50px 0 50px 0;
    }

    .index-steps-container
    {
        /* height: 212px; */
        padding: 0 15px;
        margin: 0 13px;
    }

    .index-steps-row
    {
        /* height: 212px; */
        margin: 0 -15px !important;
        /* background-color: #fff; */
    }
    
    .index-step-sub
    {
        font-size: 29px;
        font-family: 'Great Vibes', cursive;
        color: #c59c70;
    }

    .index-steps-row h2
    {
        font-family: 'Kaushan Script', cursive !important;
        font-size: 45px;
        color:  #000000 !important;
    }
    .index-step-grid
    {
        margin-top: 40px !important;
    }

    .index-step-column-h3
    {
        font-family: 'Kaushan Script', cursive !important;
        font-size: 25px !important;
        font-weight: 400 !important;
        line-height: 1 !important;
        color:  #082908 !important;
    }

    .index-step-column-desc
    {
        color: #424242;
        font-family: 'Raleway', 'sans-serif';
        font-size: 15px !important;
    }

    .index-step-get-started-btn
    {
        margin-top: 30px !important;
    }

/* #endregion */

/* #region Index Banner */
    
    .index-banner
    {
        /* height: 632px; */
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .index-banner-container
    {
        /* height: 412px; */
        margin: 0 13px;
        padding: 0 15px;
    }

    .index-banner-row
    {
        /* margin: -15px; */
        /* height: 412px; */
    }

    .index-banner-content
    {
        margin-top: 60px;
        /* height: 240px; */
    }

    .index-banner-content-subtitle
    {
        color: #c59d5f;
        font-family: 'Great Vibes', cursive;
        font-size: 35px;
        font-style: italic;
        line-height: 1;
        margin-bottom: 5px;
    }

    .index-banner-content-title{
        font-family: 'Kaushan Script', cursive !important;
        color: #424242 !important;
        font-size: 45px;
        font-weight: 400;
        line-height: 1 !important;
        margin-bottom: 25px !important;
    }

    .index-banner-content-desc
    {
        font-family: 'Raleway', sans-serif;
        color: #a5a5a5;
        font-size: 15px;
        padding: 0 40px;
    }

    .index-banner-btn 
    {
        margin-top: 40px !important;
    }

    .btn-color-dfm
    {
        color: #082908 !important;
    }

    .index-banner-img
    {
        width: 100% !important    
    }

/* #endregion */

/* #region Index Bottom Body */

    .index-bottom-body
    {
        padding-bottom: 110px; 
    }

    .index-bottom-body-main-div
    {
        background-image: url("http://themearth.com/demo/html/restaura/view/assets/img/menu/menu2.jpg");
        /* height: 642px !important; */
        width: 100% !important;
        /* background-repeat: no-repeat; */

    }

    .index-bottom-body-container
    {
        /* height: 85px !important; */
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .index-bottom-body-row
    {
        /* height: 85px; */
        margin: 0 -15px !important;
        /* background-color: red; */
    }

    .index-bottom-body-heading
    {
        padding: 0 15px !important;
    }

    .index-bottom-body-desc
    {
        /* height: 85px; */
    }
    
    .index-bottom-body-desc p
    {
        color: #c59c70 !important;
        font-size: 35px;
        font-family: 'Great Vibes', cursive;
    }

    .index-bottom-body-desc h2
    {
        font-family: 'Kaushan Script', cursive !important;
        font-size: 45px !important;
        color: #fff !important;
    }

/* #endregion */

/* #region Index Frequently Ordered */

    .frequently-ordered-section
    {
        /* height: 626px; */
        width: 100%;
        padding: 105px 0;
    }

    .frequently-ordered-container
    {
        /* height: 626px; */
        padding: 0 15px;
    }

    .frequently-ordered-row
    {
        /* height: 626px; */
        margin:  0 -15px;
    }


/* #endregion */

/* #region Index Today's Special */

    .index-todays-special-desc h2
    {
        font-size: 45px !important;
        color: white !important;
        font-family: 'Kaushan Script', cursive !important;
    }

    .index-todays-special-desc p
    {
        color: #c59c70 !important;
        font-size: 35px;
        font-family: 'Great Vibes', cursive;
    }
/* #endregion */


/* #region How to use */

.index-how-to-use-div 
{
    background-image: url("https://demos.hogash.com/phaeton-restaurant-html/images/bestservice.jpg");
    height: 642px !important;
    width: 100% !important;
    /* background-repeat: no-repeat; */

}

/* #endregion */

/* #region Index Menu */

    .index-menu
    {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .index-menu-container
    {
        margin: 0 13px;
        padding: 0 15px;
    }

    .index-menu-row
    {
        margin: 0 -15px;
        background-color: blue;
    
    }


/* #endregion */